

@abc:registry=https://abccimpress.jfrog.io/abccimpress/api/npm/npm-release-virtual/
@abc-cockpit:registry=https://abccimpress.jfrog.io/abccimpress/api/npm/npm-release-virtual/
//abccimpress.jfrog.io/abccimpress/api/npm/npm-release-virtual/:_authToken=YOUR-TOKEN

@cimpress-technology:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
@CimCommerce:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
@design-experiences:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
@rendering:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
@design-stack:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
@design-stack-ct:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
@storefront:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
@mcp-artwork:registry=https://artifactory.cimpress.io/artifactory/api/npm/npm-release-local/
//artifactory.cimpress.io/artifactory/api/npm/npm-release-local/:_authToken=YOUR-TOKEN



